.movieDetail {
  background-repeat: no-repeat;
  background-size: 50%;
}

.with-close {
  display: flex;
  align-items: center;
}

.detail {
  width: 90%;
  margin: 10px auto;
  display: flex;
  align-content: center;
}

.detail div {
  padding: 50px;
}

.detail img {
  border-radius: 5px;
  max-height: 300px;
  align-self: center;
}

.tags {
  color: rgba(137, 148, 223, 0.801);
  font-size: 15px;
}

.btn-outline-light {
  border: none;
}

@media only screen and (max-width: 600px) {
  .detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .detail div {
    padding: 10px;
  }
  h2 {
    font-size: 1.25rem;
  }
}

.star {
  width: 20px;
}

@media only screen and (max-width: 350px) {
  .star {
    width: 15px;
  }
}
