.detail {
  width: 90%;
  margin: 10px auto;
  display: flex;
  align-content: center;
}

.detail div {
  padding-left: 50px;
}

.detail img {
  border-radius: 5px;
  max-height: 300px;
  align-self: center;
}

.tags {
  font-size: 15px;
}

.btn-outline-light {
  border: none;
}

@media only screen and (max-width: 600px) {
  .detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .detail div {
    padding: 10px;
  }
  h2 {
    font-size: 1.25rem;
  }
}

.star {
  width: 20px;
}

@media only screen and (max-width: 350px) {
  .star {
    width: 15px;
  }
}
