.dropdown-menu {
    max-height: 30vh;
    width: 70vw;
    overflow-y: auto;
    flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
    .dropdown-menu {
        max-height: 50vh;
        width: 80vw;
        overflow-y: auto;
    }
}
  
.dropdown-menu.show {
    display: flex;
}

.dropdownLink {
    color: rgba(57, 62, 93, 0.7);
}

.dropdown-item {
    width: 150px;
}