.container_foto {
  padding: 0;
  overflow: hidden;
  width: 200px;
  height: 299px;

  & article {
    padding: 10%;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  & h2 {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .container_foto {
    width: 135px;
    height: 185px;
  }
}

.ver_mas {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transform: translate(0px, 50px);
  -webkit-transform: translate(0px, 50px);
  -moz-transform: translate(0px, 50px);
  -o-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ver_mas span {
  font-size: 20px;
  color: #fff;
  position: relative;
  margin: 0 auto;
  width: 100%;
  top: 10px;
}

.container_foto img {
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*hovers*/
.container_foto:hover {
  cursor: pointer;
  background-color: #2e2828;
}

.container_foto:hover img {
  opacity: 0.2;
  transform: scale(1.1);
  background-color: white;
}

.container_foto:hover article {
  transform: translate(2px, -69px);
  -webkit-transform: translate(2px, -69px);
  -moz-transform: translate(2px, -69px);
  -o-transform: translate(2px, -69px);
  -ms-transform: translate(2px, -69px);
  visibility: visible;
}

.container_foto:hover .ver_mas {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  opacity: 1;
}
