.custom-movieSpace-padding {
    padding-bottom: 3rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

.custom-movieSpace-overview {
    width: 60%;
}

.btn {
    width: fit-content;
}


@media only screen and (max-width: 600px) {
    .custom-movieSpace-padding {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .custom-movieSpace-overview {
        width: 100%;
    }
  }

