.custom-movieSpace-padding {
    padding-bottom: 3rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

.custom-movieSpace-overview {
    width: 70%;
}

.btn {
    width: fit-content;
}

.custom-movieSpace-image {
    height: fit-content;
    filter: drop-shadow(0 0 0.75rem black);
}


@media only screen and (max-width: 600px) {
    .custom-movieSpace-padding {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .custom-movieSpace-overview {
        width: 100%;
    }
  }

